h1 {
    background-color: rgb(11, 131, 243);
}

body {
    text-align: center;
}

.contenedor-tablas {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    padding: 20px;
}

.contenedor1,
.contenedor2 {
    flex: 1;
    margin: 10px; 
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    border: 1px solid;
    padding: 20px;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin-left: 100px;
    margin-bottom: 10px;
    
}
#hola{
    background-color: aqua;
}
th, td {
    text-align: center;
    padding: 8px;
    border: 1px solid;
}

.titulo {
    background-color: rgb(11, 131, 243);
}

.juego {
    background-color:bisque;
    border: 1px solid;
}

#tabla1 {
    border-collapse: separate;
    margin-left: 23%;
    border-spacing: 10px 5px;
}

#tabla1 td {
    width: 50%; 
    box-sizing: border-box;
}

.button {
    background-color: #b9621b;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }