<h1>Products with a Price &gt; 25 and Price 100</h1>
<style>
            table{
                    border-collapse: collapse;
                    float: center;
                    margin: auto;
                    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
                    margin-top: 2.75%;
                    border-radius: 10px;
                    overflow: hidden;
            }
            
            #tabla1 th, td{
                padding: 20px;
                text-align: center;
            }


            #tabla2 th, td{
                padding: 5px;
                text-align: center;
                width: 400px;
            }

            h1{
                text-align: center;
            }

            #tabla1 tr:nth-child(odd) {
                    background-color: #c3c3c3;
                }

            #cosa1 {
                background-color: cyan;
            }

        </style>
<body>
   <table id="tabla1">
      <thead>
         <tr>
            <th colspan="2" bgcolor="#4eb1fa">Customer Details</th>
         </tr>
         <tr>
            <th bgcolor="#e3ecf3">Name</th>
            <td bgcolor="#0088ec">Bart Simpson</td>
         </tr>
         <tr>
            <th bgcolor="#e3ecf3">Address</th>
            <td>742 Evergreen Terrace</td>
         </tr>
         <tr>
            <th bgcolor="#e3ecf3">City</th>
            <td>Springfield</td>
         </tr>
         <tr>
            <th bgcolor="#e3ecf3">P.C.</th>
            <td>97403</td>
         </tr>
      </thead>
   </table>
   <table border="0" style="border-collapse: collapse;" id="tabla2">
      <thead>
         <tr>
            <th colspan="4" id="cosa1">Order</th>
         </tr>
      </thead>
      <tr>
         <th>Product</th>
         <th>Quantity</th>
         <th>Price</th>
         <th>Total</th>
      </tr>
      <tr style="background-color: yellow;">
         <td>White Paint 30L (code = 952-EF)</td>
         <td>2</td>
         <td>47.98</td>
         <td>95.96</td>
      </tr>
      <tr style="background-color: yellow;">
         <td>Green Paint 25L blanca (code = 977-CV)</td>
         <td>1</td>
         <td>26.25</td>
         <td>26.25</td>
      </tr>
      <tr style="background-color: yellow;">
         <td>Gray Curtains (code = 217-AB)</td>
         <td>1</td>
         <td>26.25</td>
         <td>26.25</td>
      </tr>
      <tr style="background-color: red;">
         <td>Wood Chair (code = 491-TE)</td>
         <td>1</td>
         <td>96.25</td>
         <td>96.25</td>
      </tr>
      <tr style="background-color: green;">
         <td>Metal Chair (code = 491-TK)</td>
         <td>2</td>
         <td>67.25</td>
         <td>134.5</td>
      </tr>
      <tr style="background-color: red;">
         <td>Wood Table (code = 591-TK)</td>
         <td>2</td>
         <td>97.25</td>
         <td>194.5</td>
      </tr>
      <tr style="background-color: green;">
         <td>Side Table (code = 522-AF)</td>
         <td>1</td>
         <td>70.32</td>
         <td>70.32</td>
      </tr>
   </table>
</body>