@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Lora:ital@1&family=Lumanosimo&family=Tangerine:wght@700&display=swap');


company{
    font-family: "Tangerine";
    font-size: 6em;
    color:rgb(29, 138, 138);
    
}

title{
    font-family: "lora";
    font-size: 2em;
}


*{
    display: block;
    text-align: center;
    font-family: "lora";
    
}

food {
    display: block;
}
food > name {
    color: rgb(29, 138, 138);
    font-weight: bold;
    font-size: 2em;
    margin-top: -1.50em;
}
food > price {
    color: rgb(165, 163, 163);
    margin-top: -1.5em;
}
price::after {
    content: " $";
}
food > calories {
    color: green;
    margin-top: -1.15em;
}
calories::before {
content: "Calories: ";
}

food > description {
    margin-top: -1em;
}


footer > address {
    margin-top: -2.5em;
}

footer > tel {
    margin-top: -1.25em;
}

footer > website {
    margin-top: -1.25em;
}