@keyframes mail {
    from {width: 100px;}
    to {width: 400px;}
}

@keyframes cambioColor {
    from {
        background-color: inherit;
    }
    to {background-color: rgb(250, 110, 110);}
}


h1 {
    text-align: center;
}

#boton {
    background-color: #13a8ce; /* Green */
    border: 0px;
    color: white;
    width: 200px;
    height: 50px;
    margin-top: 2%;
    border-radius: 0.5em;
  }

input[type="file"]::file-selector-button{
    background-color: rgb(50, 206, 226);
}

input:focus{
    border:2px solid red;
    border-radius: 4px;
    transition: 1s;
}


#boton:hover{
    transform: rotate(360deg);
    transition: 3s;
}

fieldset:hover {
    animation: colores 1s forwards, cambioColor 1s;
}

#mail:hover{
    animation: mail;
    transition: 1s;
    animation-fill-mode: forwards;
}

