.transition {
    transition: width 3s, height 3s, transform 3s;
    /*style*/
    width: 300px;
    height: 100px;
    background: violet;
    transition-timing-function: cubic-bezier(0,2.07,.47,-1.32);
}
  
div.transition:hover {
    width: 600px;
    height: 600px;
    transform: rotate(180deg);

}