input {
    border: 2px solid;
    border-radius: 4px;
    font-size: 1rem;
    margin: 0.25rem;
    min-width: 125px;
    padding: 0.5rem;

}

input:optional {
    border-color: gray;
}

input:required {
    border-color: black;
}

input:invalid {
    border-color: red;
}

input:valid+span::after {
    content: "✓";
    color: rgb(0, 245, 53);
    padding-left: 5px;
}

input:invalid+span::after {
    content: "✖";
    color: red;
    padding-left: 5px;
}