.scale {
    transform: scale(0.5, 1.5);
    /* style */
    width: 400px;
    height: 100px;
    background-color: brown;
    border: 1px solid black;
    border-radius: 10px;
}

.scale1 {
    transform: scale(0.5);
    /* style */
    width: 400px;
    height: 100px;
    background-color: rgb(255, 6, 6);
    border: 1px solid black;
    border-radius: 10px;
}

.skewX {
    transform: skewX(20deg);
    /* style */
    width: 400px;
    height: 100px;
    background-color: rgb(255, 6, 6);
    border: 1px solid black;
    border-radius: 10px;
}