@keyframes myAnimation {
    from {background-color: red;}
    to {background-color: green;}
}

.animation{
    width: 200px;
    height: 300px;
    background-color: red;
    animation-name: myAnimation;
    animation-duration: 2s;
}