
@media only screen and (max-width: 600px) {
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 90%;
    
    }
    #pokeContent{
        padding: 20px;
        background-color: #dcdcdc;
    }

    #pokemon{
        background-color: aqua;
    }

    #pokemon{
        background: #f0cd1d;
        background: radial-gradient(circle,rgba(245,252,132,100)0%, rgba(181,185,49,100)100%);
    }

    h2{
        background-color: black;
        text-align: center;
        color: white;
        padding-bottom: 1%;
        padding-top: 1%;
        font-size: 2em;
    }

    h4{
        font-size: 2em;
        text-transform:capitalize;
    }

    #pokeNumber::before{
        content: "Code: ";
        font-weight: bold;

    }

    ul{
        list-style: none;
        position: static;
        
    }
    
    ul::before{
        content: "Type: ";
        position: static;
        margin-left: -2.5em;
        font-weight: bold; 
    }

    li{
        display: inline;
    }

    li::before{
        content: ', ';
    }

    li:first-child::before{
        content: '';
    }

    #pokeHeight::before{
        content: "Height: ";
        font-weight: bold;
    }

    #pokeWeight::before{
        content: "Weight: ";
        font-weight: bold;
        
    }


    #pokeWeight{
        text-align: right;
        margin-top: -2.5em;
    }

    ul::content{
        content: "type";
    }
}


@media only screen and (min-width: 601px) {
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 48% 48%;
    
    }
    #pokeContent{
        padding: 20px;
        background-color: #dcdcdc;
    }

    #pokemon{
        background: #f0cd1d;
        background: radial-gradient(circle,rgba(245,252,132,100)0%, rgba(181,185,49,100)100%);
    }

    h2{
        background-color: black;
        text-align: center;
        color: white;
        padding-bottom: 1%;
        padding-top: 1%;
        font-size: 2em;
    }

    h4{
        font-size: 2em;
        text-transform:capitalize;
    }

    #pokeNumber::before{
        content: "Code: ";
        font-weight: bold;

    }

    ul{
        list-style: none;
        position: static;
        
    }
    
    ul::before{
        content: "Type: ";
        position: static;
        margin-left: -2.5em;
        font-weight: bold; 
    }

    li{
        display: inline;
    }

    li::before{
        content: ', ';
    }

    li:first-child::before{
        content: '';
    }

    #pokeHeight::before{
        content: "Height: ";
        font-weight: bold;
    }

    #pokeWeight::before{
        content: "Weight: ";
        font-weight: bold;
        
    }


    #pokeWeight{
        text-align: right;
        margin-top: -2.5em;
    }

    ul::content{
        content: "type";
    }
}

@media only screen and (min-width: 800px) {
    
    
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 23% 23% 23% 23%;
        
    
    }
    #pokeContent{
        padding: 20px;
        background-color: #dcdcdc;
        border: 10px solid #000000;
    }

    #pokemon{
        background: rgb(120,208,131);
        background: radial-gradient(circle, rgba(120,208,131,1) 0%, rgba(224,215,39,1) 100%);
    }

    #pokeImage{
        border: 10px solid #000000;
    }


    h2{
        background-color: black;
        text-align: center;
        color: white;
        padding-bottom: 1%;
        padding-top: 1%;
        font-size: 2em;
    }

    h4{
        font-size: 2em;
        text-transform:capitalize;
    }

    #pokeNumber::before{
        content: "Code: ";
        font-weight: bold;

    }

    ul{
        list-style: none;
        position: static;
        
    }
    
    ul::before{
        content: "Type: ";
        position: static;
        margin-left: -2.5em;
        font-weight: bold; 
    }

    li{
        display: inline;
    }

    li::before{
        content: ', ';
    }

    li:first-child::before{
        content: '';
    }

    #pokeHeight::before{
        content: "Height: ";
        font-weight: bold;
    }

    #pokeWeight::before{
        content: "Weight: ";
        font-weight: bold;
        
    }


    #pokeWeight{
        text-align: right;
        margin-top: -2.5em;
    }

    ul::content{
        content: "type";
    }
}