h1{
    text-align: center;
}

ul{
    list-style: none;
    text-align: center;
}

li{
    display: inline;
    text-align: center;
    margin: 3em;
}

li:hover{
   color: rgb(123, 192, 12);
   text-decoration-line: underline;
}