div.block1 {
    padding: 5px 5px 0px 5px;
    width: 80%;
    background-color: orange;
}
div.block2 {
    padding:5px 5px 0px 5px;
    width: 80%;
    background-color: dodgerblue;
}

img {
    float: right;
}

p.newparagraph {
    clear: both;
}


span.format {
    color: darkred;
}
span.cursive {
    font-style: italic;
}