@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Lumanosimo&display=swap');

h1 {
    font-family: Lumanosimo;
    width: 70%;
    color: rgb(11, 7, 247);
}

h2 {
    font-family: Junge;
    width: 50%;
    color: rgb(0, 162, 255);
}

h3 {
    font-family: Junge;
    width: 50%;
    color: rgb(0, 162, 255);
}

p.newparagraph {
    font-size: 20px;
}

img {
    float: left
}

h4 {
    margin-top: 7%;
    color: rgb(0, 216, 245);
}

*{
    font-family: Junge;
}
table {
    width: 30%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
}

table, th, td {
    border: 2px solid black;
    padding: 15px;
}

th:hover, td:hover {
    text-align: center;
    background-color: rgb(155, 2, 226);
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #456789;
}

li {
    float: left;
}

    li.llista1 a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

      li a:hover {
         background-color: #BBAA00;
      }




li.llista2 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #b60b0b;
}
li a {
    display: block;
    color: #000000;
    padding: 10px 20px;
    text-decoration: none;
}
/*Change the link color on hover*/
li.llista2 a:hover {
    background-color: #0cf7ff;
    color: rgb(0, 0, 0);
}
