@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Lumanosimo&display=swap');

h1 {
    font-family: Lumanosimo;
    width: 80%;
    color: rgb(2, 2, 2);
}

table {
    width: 70%;
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;
    text-align: center;
}

table, th, td {
    border: 2px solid black;
    padding: 10px;
}

th {
    text-align: left;
}

td, th.titulos{
    font-size: 100%;
}


thead {
    background-color: rgb(5, 100, 148);
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

li {
    text-align: left;
    margin-left: 15px;
}

tr:nth-child(even) {
    background-color: rgb(54, 143, 231);
}