@import url('https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge&family=Lumanosimo&display=swap');

h1 {
    text-align: center;
}


.button {
    background-color: #13a8ce; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

input[type="file"]::file-selector-button{
    background-color: rgb(50, 206, 226);
}