@keyframes myAnimation {
    from {opacity: 0;}
    to {opacity: 1;}
}

h1 {
    text-align: center;
}

ul {
    list-style: none;
    text-align: center;
}

li {
    display: inline;
    text-align: center;
    margin: 3em;
}

li:hover {
    color: rgb(123, 192, 12);
    text-decoration-line: underline;
}


h2{
    background-color: rgb(0, 0, 0);
    text-align: center;
}

.view {
    width: 500px;
    height: 300px;
    margin: 3em;
    float: left;
    border: 10px solid #fff;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s;
    margin-left: 50px;
    
}

.view img {
    width: 100%;
    height: 100%;
    
}

.view .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(43, 54, 202, 0.7);
    color: white;
    text-align: center;
    padding: 0px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 15px; 
    
}

.view:hover .imagen {
    transform: scale(1.30);
}

.imagen{
    transition: transform 0.3s;
}

.view:hover .mask {
    opacity: 1;
    animation: myAnimation 1s ease;
}

.info{
    background-color: rgb(0, 0, 0);
    padding: 5px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    width: 100%;
    height: 100%;
    margin-left: 3%;
    animation: myAnimation 4s ease;
}
