.tabla{
    display: grid;
    place-items: stretch;
    padding: 20px;
    gap: 10px 10px;
    grid-template-columns: auto auto;
    background-color: aquamarine;
}

.tabla1{
    background-color: aqua;
}

.tabla2{
    background-color: aqua;
}

p.formula{
    text-align: center;
}

.row {
    border-collapse: collapse;
    border: 2px solid black;
    border-spacing: 10px;

}

.formulas, .row1{
    border: 2px solid black;
    padding: 5px;
}


.sep {
    margin-left: 43%;
}

h1{
  text-align: center;
  color: rgb(13, 57, 255);  
}
