h1 {
    text-align: center;
}

table{
    border-collapse: collapse;
    float: center;
    margin: auto;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    margin-top: 2.75%;
}

.part1{
    background-color: rgb(66, 118, 223);
}

.part2:nth-child(even) {
    background-color: lightgray;
}

th, td{
    padding: 12px;
    text-align: center;
    width: 100px;
}