
@media only screen and (max-width: 600px) {
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 90%;
    
    }
    #pokeContent{
        padding: 20px;
        margin-right: -20px;
        background-color: #dcdcdc;
        border: 10px solid #000000;
    }

}


@media only screen and (min-width: 601px) {
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: 48% 48%;
    
    }
    #pokeContent{
        padding: 20px;
        background-color: #dcdcdc;
        border: 10px solid #000000;
    }

}

@media only screen and (min-width: 800px) {
    
    
    #poke-container{
        display: grid;
        place-items: center;
        padding: 10px;
        gap: 10px 10px;
        grid-template-columns: auto auto auto auto;
        
    
    }
    #pokeContent{
        padding: 20px;
        margin-right: -20px;
        background-color: #dcdcdc;
        border: 10px solid #000000;
    }

}

#pokeImage{
    border: 10px solid #000000;
    width: 100%;
    background: rgb(120,208,131);
    background: radial-gradient(circle, rgba(120,208,131,1) 0%, rgba(224,215,39,1) 100%);
}


h2{
    background-color: black;
    text-align: center;
    color: white;
    padding-bottom: 1%;
    padding-top: 1%;
    font-size: 2em;
}

h4{
    font-size: 2em;
    text-transform:capitalize;
}

#pokeNumber::before{
    content: "Code: ";
    font-weight: bold;

}

ul{
    list-style: none;
    position: static;
    
}

ul::before{
    content: "Type: ";
    position: static;
    margin-left: -2.5em;
    font-weight: bold; 
}

li{
    display: inline;
}

li::before{
    content: ', ';
}

li:first-child::before{
    content: '';
}

#pokeHeight::before{
    content: "Height: ";
    font-weight: bold;
}

#pokeHeight::after{
    content: "cm"
}

#pokeWeight::before{
    content: "Weight: ";
    font-weight: bold;
    
}

#pokeWeight::after{
    content: "kg"
}


#pokeWeight{
    text-align: right;
    margin-top: -2.5em;
}

ul::content{
    content: "type";
}


