<h1>Bookstore</h1>
<style>
            table {
                border-collapse: collapse;
                float: center;
                margin: auto;
                box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
                margin-top: 4%;
            }
            
            th, td {
                width: 300px;
                padding: 20px;
            }
            
            th {
                text-align: left;
                background-color: #bbdbf3;
            }

            #fila2 {
                background-color: #59adec;
            }

            .cosa1:nth-child(even) {
                background-color: #e4e7e8;
            }

            #cosa {
                background-color: #e4e7e8;
            }
        </style>
<table border="0" style="border-collapse: collapse;">
   <tr class="cosa1">
      <th>Title (lang: en)</th>
      <td>Harry Potter and the Philosopher's Stone</td>
   </tr>
   <tr class="cosa1">
      <th>Category</th>
      <td>Children</td>
   </tr>
   <tr class="cosa1">
      <th>Year</th>
      <td>1998</td>
   </tr>
   <tr class="cosa1">
      <th>Price</th>
      <td>29.99 €</td>
   </tr>
   <tr class="cosa1">
      <th>Format</th>
      <td>Hardcover</td>
   </tr>
   <tr class="cosa1">
      <th>ISBN</th>
      <td>978-0-7475-3269-9</td>
   </tr>
   <tr>
      <th id="fila2" colspan="2">Authors:</th>
   </tr>
   <tr>
      <td id="cosa" colspan="2">J K. Rowling</td>
   </tr>
</table>
<table border="0" style="border-collapse: collapse;">
   <tr class="cosa1">
      <th>Title (lang: en)</th>
      <td>Harry Potter and the Chamber of Secrets</td>
   </tr>
   <tr class="cosa1">
      <th>Category</th>
      <td>Children</td>
   </tr>
   <tr class="cosa1">
      <th>Year</th>
      <td>1997</td>
   </tr>
   <tr class="cosa1">
      <th>Price</th>
      <td>15.99 €</td>
   </tr>
   <tr class="cosa1">
      <th>Format</th>
      <td>Paperback</td>
   </tr>
   <tr class="cosa1">
      <th>ISBN</th>
      <td>0-7475-3849-2</td>
   </tr>
   <tr>
      <th id="fila2" colspan="2">Authors:</th>
   </tr>
   <tr>
      <td id="cosa" colspan="2">J. K. Rowling</td>
   </tr>
</table>
<table border="0" style="border-collapse: collapse;">
   <tr class="cosa1">
      <th>Title (lang: en)</th>
      <td>The Talisman</td>
   </tr>
   <tr class="cosa1">
      <th>Category</th>
      <td>Dark Fantasy</td>
   </tr>
   <tr class="cosa1">
      <th>Year</th>
      <td>1984</td>
   </tr>
   <tr class="cosa1">
      <th>Price</th>
      <td>39.95 €</td>
   </tr>
   <tr class="cosa1">
      <th>Format</th>
      <td>Hardcover</td>
   </tr>
   <tr class="cosa1">
      <th>ISBN</th>
      <td>978-0-670-69199-9</td>
   </tr>
   <tr>
      <th id="fila2" colspan="2">Authors:</th>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Peter Straub</td>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Stephen King</td>
   </tr>
</table>
<table border="0" style="border-collapse: collapse;">
   <tr class="cosa1">
      <th>Title (lang: en)</th>
      <td>Sleeping Beauties</td>
   </tr>
   <tr class="cosa1">
      <th>Category</th>
      <td>Fantasy</td>
   </tr>
   <tr class="cosa1">
      <th>Year</th>
      <td>1997</td>
   </tr>
   <tr class="cosa1">
      <th>Price</th>
      <td>32.99 €</td>
   </tr>
   <tr class="cosa1">
      <th>Format</th>
      <td>Paperback</td>
   </tr>
   <tr class="cosa1">
      <th>ISBN</th>
      <td>0-7475-3849-2</td>
   </tr>
   <tr>
      <th id="fila2" colspan="2">Authors:</th>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Owen King</td>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Stephen King</td>
   </tr>
</table>
<table border="0" style="border-collapse: collapse;">
   <tr class="cosa1">
      <th>Title (lang: en)</th>
      <td>A Day of Fire: A Novel of Pompeii</td>
   </tr>
   <tr class="cosa1">
      <th>Category</th>
      <td>Novel</td>
   </tr>
   <tr class="cosa1">
      <th>Year</th>
      <td>2014</td>
   </tr>
   <tr class="cosa1">
      <th>Price</th>
      <td>12.99 €</td>
   </tr>
   <tr class="cosa1">
      <th>Format</th>
      <td>Paperback</td>
   </tr>
   <tr class="cosa1">
      <th>ISBN</th>
      <td>0-7475-4561-2</td>
   </tr>
   <tr>
      <th id="fila2" colspan="2">Authors:</th>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Ben Kane</td>
   </tr>
   <tr>
      <td id="cosa" colspan="2">E. Knight</td>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Kate Quinn</td>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Michelle Moran</td>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Sophie Perinot</td>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Stephanie Dray</td>
   </tr>
   <tr>
      <td id="cosa" colspan="2">Vicky Alvear Shecter</td>
   </tr>
</table>