records {
    display: table;
    border-collapse: collapse;
    width: 97%;
    margin-top: 10px;
    margin: 10px auto;
}

record:nth-child(even) {
    background-color:rgb(64, 125, 175);
}

record:nth-child(10n) {
    background-color:rgb(168, 198, 223);
}

record {
    display: table-row;
}

header * {
    display: table-cell;
    border: 1px solid #000000;
    font-weight: bold;
    padding: 15px;
    margin-top: 35px;
    font-size:13px;
}

record * {
    display: table-cell;
    border: 1px solid #000000;
    padding: 15px;
    margin-top: 35px;
    font-size:13px;
}


header {
    width: 10px;
    height: 50px;
    background-color: rgb(243, 181, 12);
    display: table-header-group;
    text-align: center;
    font-weight: bold;
}


#Client\ List:before {
    font-size: 13px;
    content: "Report: " attr(id);
    margin-top: 10px;
}

info {
    display: flex;
    flex-direction: column;
    text-align: right;
    padding-right: 1%;
    font-size: 13px;
}

info > name {
    color: blue;
    font-size: 30px;
}

info > phone::before {
    content: "Phone: ";
    font-size: 15px;
    font-weight: bold;
}

info > email::before {
    content: "Email: ";
    font-size: 15px;
    font-weight: bold;
}

info > address::before {
    content: "Address: ";
    font-size: 15px;
    font-weight: bold;
}

info > postalzip::before {
    content: "Postal Zip: ";
    font-size: 15px;
    font-weight: bold;
}

info > region::before {
    content: "Region: ";
    font-size: 15px;
    font-weight: bold;
}

info > country::before {
    content: "Country: ";
    font-size: 1px;
    font-weight: bold;
}

